<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <mat-card-content>
      <mat-toolbar color="primary" id="peso-fonte">Alterar turno</mat-toolbar>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Turno"
          type="text"
          name="shiftName"
          formControlName="shiftName"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Período"
          type="text"
          formControlName="period"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Link do mapa"
          type="text"
          formControlName="linkShift"
        />
      </mat-form-field>

      <mat-card-actions>
        <button id="button-save" name="save" type="submit" mat-raised-button>
          Salvar
        </button>
        <button
          id="button-back"
          name="back"
          mat-raised-button
          (click)="onShiftList()"
        >
          Voltar
        </button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
