<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte">Alterar turno</mat-toolbar>
    <form>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Turno"
          type="text"
          name="shiftName"
          [(ngModel)]="shift.shiftName"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Período"
          type="text"
          name="period"
          [(ngModel)]="shift.period"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Link do mapa"
          type="text"
          name="linkShift"
          [(ngModel)]="shift.linkShift"
        />
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button id="button-save" name="save" (click)="onSave()" mat-raised-button>
        Salvar
      </button>
      <button
        id="button-back"
        name="back"
        mat-raised-button
        (click)="onShiftList()"
      >
        Voltar
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

