<mat-card>
    <mat-card-content>
      <mat-toolbar color="primary" id="peso-fonte"
        >ROTEAMENTOS</mat-toolbar
      >
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Usuário"
          name="user"
          pattern="[0-9]*"
        />
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Senha"
          type="password"
          inputmode="numeric"
          name="password"
          pattern="[0-9]*"
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          id="button-login"

          name="login"
          mat-raised-button
        >
       Login
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>