<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSave(itineraryId, idEnterprise, idShift)">
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte">Editar rota</mat-toolbar>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Rota"
          type="text"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Sentido"
          type="text"
          formControlName="direction"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Extensão"
          type="text"
          formControlName="extension"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Pleno"
          type="text"
          formControlName="full"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Parcial"
          type="text"
          formControlName="partial"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Link do mapa"
          type="text"
          formControlName="linkItinerary"
        />
      </mat-form-field>


    <mat-card-actions>
      <button id="button-save" name="save" type="submit" mat-raised-button>
        Salvar
      </button>
      <button
        id="button-back"
        name="back"
        mat-raised-button
        (click)="onShiftList(idShift, idEnterprise)"
      >
        Voltar
      </button>
    </mat-card-actions>
  </mat-card-content>
</form>
</mat-card>

