@media (mix-width: 600px) {
  mat-card {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 2000px) {
  mat-card {
    width: 40%;
    margin: 0 auto;
  }
}

#altura {
  overflow-y: auto;
  height: 450px;
}

* {
  font-family: Montserrat;
  font-weight: 300;
}

table {
  padding: 10px;
}

#toolbar {
  display: flex;
  justify-content: space-between;
}

#delete {
  cursor: pointer;
  color: rgb(255, 71, 71);
  padding-top: 5px;
}
#edit {
  cursor: pointer;
  color: rgb(5, 167, 5);
  margin-right: 10px;
  padding-top: 5px;
}
.new {
  cursor: pointer;
  color: white;
  padding-top: 15px;
  margin-right: -15px;
}

#mat-button-custom-adm {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

#buttons {
  display: flex;
  align-items: center;
}
#loading-spinner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
}

.red-text {
  font-weight: 600;
  color: red;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
#th {
 width: 84%;
}

