<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte">ROTEAMENTOS</mat-toolbar>
    <form>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Empresa"
          type="text"
          name="name"
          [(ngModel)]="enterprise.name"
        />
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button id="button-save" name="save" (click)="onSave(enterprise.name)" mat-raised-button>
        Salvar
      </button>
      <button
        id="button-back"
        name="back"
        mat-raised-button
        (click)="onEnterpriseList()"
      >
        Voltar
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

