<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte">ROTEAMENTOS</mat-toolbar>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Rota"
          type="text"
          FormControlName="name"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Sentido"
          type="text"
          FormControlName="direction"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Extensão"
          type="text"
          FormControlName="extension"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Pleno"
          type="text"
          FormControlName="full"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Parcial"
          type="text"
          FormControlName="Partial"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Link do mapa"
          type="text"
          FormControlName="linkItinerary"
        />
      </mat-form-field>


    <mat-card-actions>
      <button id="button-save" name="save" (click)="onSave()" mat-raised-button>
        Salvar
      </button>
      <button
        id="button-back"
        name="back"
        mat-raised-button
        (click)="onShiftList()"
      >
        Voltar
      </button>
    </mat-card-actions>
  </form>
  </mat-card-content>
</mat-card>

