/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif;}


.full-width {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

mat-card-actions {
  margin: auto;
}

mat-toolbar,
button {
  margin-bottom: 1em;
}

#peso-fonte {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

button {
  margin-right: 10px;
}
#button-login{
  display: block;
  width: 100%;
  font-size: 0.9rem;
  background-color: #84a2f3;
  color: white;
  font-weight: 300;
  font-family: Montserrat;
}

#button-save{
  display: block;
  width: 100%;
  font-size: 0.9rem;
  background-color: #84a2f3;
  color: white;
  font-weight: 300;
  font-family: Montserrat;
}
#button-back{
  display: block;
  width: 100%;
  font-size: 0.9rem;
  background-color: #f3b684;
  color: white;
  font-weight: 300;
  font-family: Montserrat;
}

